<div class="course-card">
  <div class="course-title">{{ cardIndex + " " + course.description }}</div>

  <!-- <img
    width="300"
    [alt]="course.description"
    *ngIf="isImageVisible(); else noImage"
    [src]="course.iconUrl"
  />
  <ng-template #noImage>
    <p>No Image is available.</p>
  </ng-template> -->
  
  @if (course.id == 1) {
  <p><b>Coure ID 1 detected...</b></p>
  <img width="300" alt="image" [src]="course.iconUrl" />
  } @else if(course.iconUrl) {
  <img width="300" alt="image" [src]="course.iconUrl" />
  } @else {
  <h2>No image available.</h2>
  }

  <div class="course-description">
    {{ course.longDescription }}
  </div>
  <button (click)="onCourseViewed()">View Course</button>
</div>
